<div class="content centered">
  <h2 class="top">Modules</h2>
  {{#each modules}}
  <div class="module" id="{{name}}">
    <legend>{{cleanName}}</legend>
    {{{formHTML}}}
  </div>
  {{/each}}
</div>
