        <ul class="core">
          <li class="users"><a href="/#users">Users<span class="badge"></span></a></li>
          <li><a href="/#data">Data</a></li>
        </ul>
        <ul class="modules">
        </ul>