<div class="validation {{if errors 'invalid' 'valid'}} {{if pristine 'pristine'}}">
  {{yield}}
  {{#if errors}}
    {{#unless pristine }}
      <ul class="errors">
    {{#each errors as |error|}}
      <li>{{error}}</li>
    {{/each}}
      </ul>
    {{/unless}}
  {{/if}}
</div>