<div class="validation {{if errors 'invalid' 'valid'}}">
  {{yield}}
  {{#if errors}}
    <ul class="errors">
  {{#each errors as |error|}}
    <li>{{error}}</li>
  {{/each}}
    </ul>
  {{/if}}
</div>