@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/\.rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\000037}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000313}}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f3f3f0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000320}}
header {
  background: #555;
  height: 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000324}}
header h1 {
  color: white;
  font-size: 1.5em;
  line-height: 45px;
  margin: 0 0 0 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000330}}
header .placeMeta {
  position: absolute;
  right: 1rem;
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000337}}
.packery {
  background: #f3f3f0;
  width: 98%;
  margin: 1%;
}

/* clearfix */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000344}}
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000356}}
.item {
  width: 265px;
  height: 230px;
  float: left;
  border: 4px solid transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000361}}
.item .itemContent {
  position: relative;
  background: #FFF;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: border-color 0.25s;
  -moz-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
  transition: border-color 0.25s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000371}}
.item:hover .itemContent {
  border-color: rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000373}}
.item:hover .itemContent .handle {
  cursor: move;
  background: whitesmoke;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  border-color: rgba(0, 0, 0, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000382}}
.item.w {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000383}}
.item.w2 {
  width: 530px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000384}}
.item.w4 {
  width: 1060px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000386}}
.item.h2 {
  height: 460px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000387}}
.item.h4 {
  height: 920px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000391}}
.item.is-dragging .itemContent,
.item.is-positioning-post-drag .itemContent {
  border-color: white;
  background: #09F;
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/espy\/Sites\/hood\.ie\/elements-bootstrap-3\/app\/styles\/dashboard\.scss}line{font-family:\0000398}}
.item .handle {
  width: 100%;
  height: 30px;
  background: #FFF;
  bottom: 0;
  position: absolute;
  color: rgba(10, 10, 10, 0.3);
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  line-height: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
