<div class="content centered">
  <h2 class="top">{{plugin.cleanName}}</h2>

  <div class="plugin-content">
    <iframe src="{{baseUrl}}/_plugins/{{plugin.name}}/pocket/index.html"></iframe>
  </div>
</div>
