      <header>
        <div class="logo ir">Hoodie Pocket</div>
        <h1><a href="/#"></a></h1>
      </header>
      <nav>
        <ul class="core">
          <li class="users"><a href="/#users">Users<span class="badge"></span></a></li>
          <li><a href="/#data/blah">Data</a></li>
        </ul>
        <ul class="modules">
          <li><a href="/#modules/email-out">E-Mail out<span class="badge badge-warning">4</span></a></li>
          <li><a href="/#modules/signup-confirmation">Signup confirmation<span class="badge badge-success"></span></a></li>
          <li><a href="/#modules/password-reset">Password reset<span class="badge badge-success"></span></a></li>
          <li><a href="/#modules/account-deletion">Account deletion<span class="badge badge-info"></span></a></li>
          <li><a href="/#modules/log">Log<span class="badge badge-error">49</span></a></li>
        </ul>
      </nav>