      <div class="content centered">
        <h2 class="top">Welcome to {{appInfo.name}}'s Pocket</h2>
        <div class="form">
          <section class="noBorder">
            <div class="formLabel">
              <label>Admin password</label>
            </div>
            <div class="form">
              <input type="password" autofocus>
            </div>
            <div class="formLabel">
            </div>
            <div class="form">
              <button type="submit" class="btn">Sign in!</button>
            </div>
          </section>
        </div>
      </div>