//@import "reset";

$creamWhite:      #f7f4f2;
$slate:           #333333;
$mediumGrey:      #F1F1F1;
$brightWhite:     #FDFBFA;

$sidebarWidth:    240px;

a:hover,
a:focus{
  outline: none;
  text-decoration: none;
  color: #1ABC9C;
  border-bottom: 2px currentColor solid;
}

body, html{
  background: $creamWhite;
  margin:0;
  padding:0;
  font-size:100%;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

// Where did this come from?
[data-ember-action] {
  //cursor: pointer;
}

.sidebar{
  width:$sidebarWidth;
  background-color: $slate;
  color: $mediumGrey;
  height:100%;
  a{
    color: $mediumGrey;
    text-decoration: none;
  }
}

.plugin-list{
  margin:0;
  padding:0
}
.sidebar .helpers{
  position:absolute;
  padding:0 0 0 1em;
  bottom: 0;
  margin: 0 0 0.5em 0;
}
.sidebar .helpers li{
  display:inline;
  padding:0;
  margin:0;
  font-size:.75em;
  text-transform:uppercase
}
.sidebar .helpers li:nth-child(n+2):before{
  content:"|";
  margin:0 .25em 0 0
}

.plugin-list a{
  height:4em;
  line-height:4em;
  padding:0 0 0 1em;
  border-bottom:1px solid #585858;
  display:block;
  font-size:.9em;
  letter-spacing:1px;
  text-transform:uppercase;
  transition: background-color 0.25s;
}
.plugin-list a:hover{
  background-color:#585858;
  color: #F1F1F1;
}
.plugin-list a.active{
  background:#FDFBFA;
  color:#222;
}


.sidebar{
  width: $sidebarWidth;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  header {
    padding: 0 0 0 1em;
    border-bottom:1px solid #585858;
    .subline{
      display: block;
      margin: -19px 0 -3px 1px;
      font-size: 0.8rem;
      color: #7F7F7F;
      text-transform: uppercase;
    }
  }
  h1 {
    font-weight: normal;
    font-size: 2em;
    margin: 0;
    line-height: 1.775em;
    border: none;
    a:hover{
      border: none;
    }
  }
  .plugin-list {
    margin: 0;
    padding: 0;
  }
  .plugin-list a {
    height: 4em;
    padding: 0 0 0 1.25em;
    display: block;
  }
}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 0 0 $sidebarWidth;
  height: 100%;
  background-color: $brightWhite;
  .pluginView{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    iframe{
      height: 100%;
      width: 100%;
    }
  }
}



.login {
  width: 50%;
  max-width: 30em;
  background-color: #fff;
  color:#444;
  position: absolute;
  top: 22%;
  left: 25%;
  right: 25%;
  padding: 19px 19px 15px 20px;
  font-family: "helvetica neue", helvetica, sans-serif !important;
  font-weight: 300;
  letter-spacing: 0.1;
  border-radius: 1em;
  border: 4px solid #ECECEC;
  img{
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
}

.login .warning{
  color: #FBB040;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 0.4rem;
}

.login label {
  line-height: 20px;
  padding-right: 15px;
  display: none;
}

.login input {
  width: 72%;
  height: 2.75em;
  padding: 0 .5em;
  font-size: 16px;
  line-height: 1.75;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(102, 175, 233, 0.6);
  }
}

.login [type="submit"] {
  max-width: 25%;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.75;
  border-radius: 4px;
  margin: .5em 0 .5em 1%;
  background: white;
  border: 1px solid #CCC;
  color: #555555;
  position: relative;
  transition: all ease 0.25s;
  &:hover, &:focus{
    background: #9fcaec;
    border: 1px solid #66afe9;
    color: #FFF;
  }
  &:focus{
    box-shadow: 0 0 0 3px #9fcaec;
    outline: none;
  }
}

.internalPlugin{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
  @media (max-width: 767px + $sidebarWidth){
    .container{
      width: 100%;
    }
  }
  @media (min-width: 768px + $sidebarWidth){
    .container{
      width: 750px;
    }
  }
  @media (min-width: 992px + $sidebarWidth){
    .container{
      width: 970px;
    }
  }
  @media (min-width: 1200px + $sidebarWidth){
    .container {
      width: 1170px;
    }
  }
}

.usersPlugin{
  #userList td{
    width: 20%;
    line-height: 1.75;
    &:first-child{
      width: 40%;
    }
    &:last-child{
      text-align: right;
    }
  }
  .user-table-pagination {
    position: relative;
    height: auto;
    margin: 0.5em 0;
    -webkit-user-select: none;
    .previous {
      margin: 0;
      position: absolute;
      left: 0;
    }
    .pageNumber {
      display: inline-block;
      width: 100%;
      text-align: center;
      line-height: 2.7em;
    }
    .next {
      position: absolute;
      top: 0;
      margin: 0;
      right: 0;
    }
  }
}


table{
  thead.asc th.active:after{
    content: "▼";
    margin-left: 0.25em;
  }
  thead.desc th.active:after{
    content: "▲";
    margin-left: 0.25em;
  }
}

// move to UIKit:

.modal-footer .btn {
  margin: 0;
}

.submitMessage{
  margin-left: 1em;
}

.validation {
  .errors{
    color: #F8282B;
    margin-left: 0;
    font-weight: bold;
    margin-top: -0.75em;
  }
  input, textarea {
    width: 100%;
    margin-left: 0;
  }
  &.valid input{
    //background-image: url("../images/valid_form.png");
    // ^ this is the correct path in UIKit
    background-image: url("/_api/_plugins/_assets/images/valid_form.png");
    background-repeat: no-repeat;
    background-position: -webkit-calc(100% - 10px) center;
    background-position: calc(100% - 10px) center;
  }
  &.invalid input{
    //background-image: url("../images/invalid_form.png");
    // ^ this is the correct path in UIKit
    background-image: url("/_api/_plugins/_assets/images/invalid_form.png");
    background-repeat: no-repeat;
    background-position: -webkit-calc(100% - 10px) center;
    background-position: calc(100% - 10px) center;
  }
  &.pristine {
    input{
      background-image: none;
    }
    .errors{
      display: none;
    }
  }
}

// from fieldset input, .group input
.validation {
  display: block;
  width: 70%;
  margin: 0 0 0 30%;
}

