@import "reset";

$creamWhite:      #f7f4f2;
$slate:           #333333;
$mediumGrey:      #F1F1F1;
$brightWhite:     #FDFBFA;

body, html{
  background: $creamWhite;
  margin:0;
  padding:0;
  font-size:100%;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}
.sidebar{
  width:240px;
  background-color: $slate;
  color: $mediumGrey;
  height:100%
}

.plugin-list{
  margin:0;
  padding:0
}
.sidebar .helpers{
  position:absolute;
  bottom:10px;
  padding:0 0 0 1em
}
.sidebar .helpers li{
  display:inline;
  padding:0;
  margin:0;
  font-size:.75em;
  text-transform:uppercase
}
.sidebar .helpers li:nth-child(n+2):before{
  content:"|";
  margin:0 .25em 0 0
}
a{
  text-decoration:none;
  color: $mediumGrey;
}
.plugin-list a{
  color: $mediumGrey;
  height:4em;
  line-height:4em;
  padding:0 0 0 1em;
  border-bottom:1px solid #585858;
  display:block;
  font-size:.9em;
  letter-spacing:1px;
  text-transform:uppercase;
  transition: background-color 0.25s;
}
.plugin-list a:hover{
  background-color:#585858;
  color: #F1F1F1;
}
.plugin-list a.active{
  background:#FDFBFA;
  color:#222;
}


.sidebar{
  width: 240px;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  header {
    padding: 0 0 0 1em;
    border-bottom:1px solid #585858;
    .subline{
      display: block;
      margin: -15px 0 2px 1px;
      font-size: 0.8rem;
      color: #7F7F7F;
      text-transform: uppercase;
    }
  }
  h1 {
    font-weight: normal;
    font-size: 2em;
    margin-top: 0;
    line-height: 1.775em;
  }
  .plugin-list {
    margin: 0;
    padding: 0;
  }
  .plugin-list a {
    height: 4em;
    padding: 0 0 0 1.25em;
    display: block;
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 0 0 240px;
  height: 100%;
  background-color: $brightWhite;
  .pluginView{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    iframe{
      height: 100%;
      width: 100%;
    }
  }
}



.login {
  width: 50%;
  max-width: 30em;
  background-color: #fff;
  color:#444;
  position: absolute;
  top: 22%;
  left: 25%;
  right: 25%;
  padding: 19px 19px 15px 20px;
  font-family: "helvetica neue", helvetica, sans-serif !important;
  font-weight: 300;
  letter-spacing: 0.1;
  border-radius: 1em;
  border: 4px solid #ECECEC;
  img{
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
}

.login .warning{
  color: #FBB040;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 0.4rem;
}

.login label {
  line-height: 20px;
  padding-right: 15px;
  display: none;
}

.login input {
  width: 72%;
  height: 2.75em;
  padding: 0 .5em;
  font-size: 16px;
  line-height: 1.75;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(102, 175, 233, 0.6);
  }
}

.login [type="submit"] {
  max-width: 25%;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.75;
  border-radius: 4px;
  margin: .5em 0 .5em 1%;
  background: white;
  border: 1px solid #CCC;
  color: #555555;
  position: relative;
  transition: all ease 0.25s;
  &:hover, &:focus{
    background: #9fcaec;
    border: 1px solid #66afe9;
    color: #FFF;
  }
  &:focus{
    box-shadow: 0 0 0 3px #9fcaec;
    outline: none;
  }
}
