body {
  margin: 0;
  padding: 0;
  background-color: #EEE;
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar {
  width: 240px;
  background-color: #333;
  color: #FDFBFA;
  height: 100%;
}

.sidebar header {
  height: 5em;
  line-height: 5em;
  padding: 0 0 0 1em;
  border-bottom: 1px solid #585858;
}

.pluginList {
  margin: 0;
  padding: 0;
}

.pluginList li {
}

.sidebar .helpers {
  position: absolute;
  bottom: 0;
  padding: 0 0 0 1em;
}

.sidebar .helpers li {
  display: inline;
  padding: 0;
  margin: 0;
  font-size: .75em;
  text-transform: uppercase;
}

.sidebar .helpers li:nth-child(n+2):before {
  content: "|";
  margin: 0 .25em 0 0;
}

a {
  color: #F1F1F1;
  text-decoration: none;
}

.pluginList a {
  height: 4em;
  line-height: 4em;
  padding: 0 0 0 1em;
  border-bottom: 1px solid #585858;
  display: block;
  font-size: .9em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.pluginList a:hover {
  background-color: #585858;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.content {
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  margin: 0 0 0 240px;
}

.pluginList .active a {
  background: #FDFBFA;
  color: #222;
}

h1 {
  font-weight: normal;
}

