@charset "UTF-8";
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: #1ABC9C;
  border-bottom: 2px currentColor solid; }

body, html {
  background: #f7f4f2;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden; }

[data-ember-action] {
  cursor: pointer; }

.sidebar {
  width: 240px;
  background-color: #333333;
  color: #F1F1F1;
  height: 100%; }
  .sidebar a {
    color: #F1F1F1;
    text-decoration: none; }

.plugin-list {
  margin: 0;
  padding: 0; }

.sidebar .helpers {
  position: absolute;
  padding: 0 0 0 1em; }

.sidebar .helpers li {
  display: inline;
  padding: 0;
  margin: 0;
  font-size: .75em;
  text-transform: uppercase; }

.sidebar .helpers li:nth-child(n+2):before {
  content: "|";
  margin: 0 0.25em 0 0; }

.plugin-list a {
  height: 4em;
  line-height: 4em;
  padding: 0 0 0 1em;
  border-bottom: 1px solid #585858;
  display: block;
  font-size: .9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.25s;
          transition: background-color 0.25s; }

.plugin-list a:hover {
  background-color: #585858;
  color: #F1F1F1; }

.plugin-list a.active {
  background: #FDFBFA;
  color: #222; }

.sidebar {
  width: 240px;
  min-height: 100vh;
  overflow: hidden;
  padding: 0; }
  .sidebar header {
    padding: 0 0 0 1em;
    border-bottom: 1px solid #585858; }
    .sidebar header .subline {
      display: block;
      margin: -19px 0 -3px 1px;
      font-size: 0.8rem;
      color: #7F7F7F;
      text-transform: uppercase; }
  .sidebar h1 {
    font-weight: normal;
    font-size: 2em;
    margin: 0;
    line-height: 1.775em; }
  .sidebar .plugin-list {
    margin: 0;
    padding: 0; }
  .sidebar .plugin-list a {
    height: 4em;
    padding: 0 0 0 1.25em;
    display: block; }

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 0 0 240px;
  height: 100%;
  background-color: #FDFBFA; }
  .main-content .pluginView {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    .main-content .pluginView iframe {
      height: 100%;
      width: 100%; }

.login {
  width: 50%;
  max-width: 30em;
  background-color: #fff;
  color: #444;
  position: absolute;
  top: 22%;
  left: 25%;
  right: 25%;
  padding: 19px 19px 15px 20px;
  font-family: "helvetica neue", helvetica, sans-serif !important;
  font-weight: 300;
  letter-spacing: 0.1;
  border-radius: 1em;
  border: 4px solid #ECECEC; }
  .login img {
    width: 100%;
    height: auto;
    margin-bottom: 1em; }

.login .warning {
  color: #FBB040;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 0.4rem; }

.login label {
  line-height: 20px;
  padding-right: 15px;
  display: none; }

.login input {
  width: 72%;
  height: 2.75em;
  padding: 0 0.5em;
  font-size: 16px;
  line-height: 1.75;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .login input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(102, 175, 233, 0.6); }

.login [type="submit"] {
  max-width: 25%;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.75;
  border-radius: 4px;
  margin: 0.5em 0 0.5em 1%;
  background: white;
  border: 1px solid #CCC;
  color: #555555;
  position: relative;
  -webkit-transition: all ease 0.25s;
          transition: all ease 0.25s; }
  .login [type="submit"]:hover, .login [type="submit"]:focus {
    background: #9fcaec;
    border: 1px solid #66afe9;
    color: #FFF; }
  .login [type="submit"]:focus {
    box-shadow: 0 0 0 3px #9fcaec;
    outline: none; }

.internalPlugin {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll; }

.usersPlugin .addUser .submitMessage {
  margin-left: 1em; }

.usersPlugin .user-table-pagination {
  position: relative;
  height: auto;
  margin: 0.5em 0;
  -webkit-user-select: none; }
  .usersPlugin .user-table-pagination .previous {
    margin: 0;
    position: absolute;
    left: 0; }
  .usersPlugin .user-table-pagination .pageNumber {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 2.7em; }
  .usersPlugin .user-table-pagination .next {
    position: absolute;
    top: 0;
    margin: 0;
    right: 0; }

table thead.asc th.active:after {
  content: "▼";
  margin-left: 0.25em; }

table thead.desc th.active:after {
  content: "▲";
  margin-left: 0.25em; }