<h2>Set GMAIL email &amp; password for sending emails</h2>

<form class="email form-horizontal" action="">
  <span class="error"></span>
  <div class="control-group">
    <label class="control-label">Service</label>
    <div class="controls">
      <select>
        <option>GMAIL</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Username</label>
    <div class="controls">
      <input class="username" type="text" placeholder="me@gmail.com" value="{{config.email.transport.auth.user}}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Password</label>
    <div class="controls">
      <input class="password" type="password" value="{{config.email.transport.auth.pass}}">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button class="submit btn" type="submit">Submit</button>
    </div>
  </div>

</form>
