<div class="module" id="{{module.name}}">
  <legend>Settings</legend>

  <span class="description">E-Mail out is in charge of all outgoing mail from this Hoodie instance</span>
  <form action="">
    <section>
      <div class="formLabel">
        <label>From address</label>
      </div>
      <div class="form">
        <input type="email" placeholder="{{defaultReplyMailAddress}}" required>
        <span class="note">From address for all of your app's emails.</span>
      </div>
    </section>
  </form>
</div>
