<div class="sidebar">
  <header>
    <h1>{{#link-to 'index'}}Admin Dashboard{{/link-to}}</h1>
  </header>
  <ul class="plugin-list">
    {{#each model.plugins as |plugin|}}
    <li>
      {{#link-to 'plugins.plugin' plugin}}{{plugin.title}}{{/link-to}}
    </li>
    {{/each}}
  </ul>
  <ul class="helpers">
    <li>{{#link-to 'logout'}}logout{{/link-to}}</li>
  </ul>
</div>
<div class="main">
  {{outlet}}
</div>
