<div class="sidebar">
  <header>
    <h1>{{#link-to 'index'}}Dashboard{{/link-to}}</h1>
    <span class="subline">{{model.config.config.app_name}}</span>
  </header>
  <ul class="plugin-list">
    {{#each model.plugins.plugins as |plugin|}}
    <li>
      {{#link-to 'plugins.plugin' plugin}}{{plugin.title}}{{/link-to}}
    </li>
    {{/each}}
    <li>{{#link-to 'plugins.users'}}Users{{/link-to}}</li>
  </ul>
  <ul class="helpers">
    <li>{{#link-to 'logout'}}logout{{/link-to}}</li>
  </ul>
</div>
<div class="main-content">
  <div class="pluginView">
    {{outlet}}
  </div>
</div>
