/**
  @desc:    defines all grids, which are aviable
*/
/* line 5, ../scss/grid.scss */
.w1 {
  width: 33%;
}

/* line 9, ../scss/grid.scss */
.w2 {
  width: 65.5%;
}

/* line 13, ../scss/grid.scss */
.w3 {
  width: 99%;
}

/* line 17, ../scss/grid.scss */
.w2 .grid50 {
  width: 49%;
  height: 100%;
}

/* line 22, ../scss/grid.scss */
.w3 .grid30 {
  width: 32.5%;
  height: 100%;
}
