/**
  @desc:    defines all modules with concated submodules
*/
/*  ### DASHBOARD TILES / ITEMS ### */
/* line 6, ../scss/modules.scss */
.item {
  height: 230px;
  float: left;
  border: 5px solid transparent;
}

/* line 11, ../scss/modules.scss */
.item .itemContent {
  position: relative;
  height: 100%;
  border: 0px solid rgba(0, 0, 0, 0.2);
}

/* line 17, ../scss/modules.scss */
.item .itemContent section {
  padding: 15px;
  display: inline-block;
  height: 88%;
  opacity: 0.85;
  width: 100%;
}

/* line 24, ../scss/modules.scss */
.w3 section .grid30 {
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 10px;
}

/* line 30, ../scss/modules.scss */
.w2 section .grid50 {
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 10px;
}

/* line 36, ../scss/modules.scss */
section span:last-child {
  border-right: none !important;
}

/* line 41, ../scss/modules.scss */
.item .handle {
  width: 100%;
  height: 30px;
  bottom: 0;
  position: absolute;
  padding: 0 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  cursor: move;
}

/* needed? */
/* line 55, ../scss/modules.scss */
.item.is-dragging .itemContent,
.item.is-positioning-post-drag .itemContent {
  z-index: 2;
}
