/**
  @desc:    defines all font-familys, sizes, line-heights, text-decorations / -transforms
*/
/* ----- ### GENERAL ----- */
/* line 6, ../scss/typo.scss */
body {
  font-family: sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ----- ### LINKS ----- */
/* line 12, ../scss/typo.scss */
a {
  text-decoration: none;
}

/* line 16, ../scss/typo.scss */
.pluginList a {
  font-size: .9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 4em;
}

/* ----- ### SIDEBAR ----- */
/* line 23, ../scss/typo.scss */
.sidebar h1 {
  font-weight: normal;
  font-size: 2em;
}

/* line 28, ../scss/typo.scss */
.sidebar .helpers li {
  font-size: .75em;
  text-transform: uppercase;
}

/* ----- ### CONTENT ----- */
/* line 34, ../scss/typo.scss */
.content header {
  font-weight: 300;
  font-size: 1.0em;
  line-height: 35px;
  letter-spacing: 1px;
}

/* line 41, ../scss/typo.scss */
.content header .placeMeta {
  font-size: 0.9em;
}

/* ----- ### TILES / ITEMS ----- */
/* line 46, ../scss/typo.scss */
.item .itemContent section {
  line-height: 1.4em;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 100;
}

/* line 52, ../scss/typo.scss */
.w1 section, .w2 section {
  font-size: 1.4em !important;
}

/* line 55, ../scss/typo.scss */
.item .handle {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 30px;
  text-align: left !important;
}

/* ----- ### TEXT-ALIGN ----- */
/* line 63, ../scss/typo.scss */
.secRight {
  text-align: right;
}

/* line 64, ../scss/typo.scss */
.secCenter {
  text-align: center;
}

/* line 65, ../scss/typo.scss */
.secLeft {
  text-align: left;
}
