<fieldset>
  <!-- Form Name -->
  <div class="logo ir">Hoodie Pocket</div>
  <h2 class="top"> Welcome to appName here's Pocket</h2>

  <!-- Password input-->
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input id="password" name="password" type="password" placeholder="Password" class="input-xlarge" required="">

    </div>
  </div>

  <!-- Button -->
  <div class="control-group">
    <div class="controls">
      <label class="control-label">&nbsp;</label>
      <button type="submit" name="" class="btn btn-primary">Sign In</button>
    </div>
  </div>
</fieldset>
